appdirs==1.4.3
attrs==19.3.0
Automat==0.8.0
black==24.3.0
cffi==1.13.2
Click==7.0
constantly==15.1.0
cryptography==43.0.1
cssselect==1.1.0
hyperlink==19.0.0
idna==3.7
incremental==17.5.0
lxml==4.6.3
numpy==1.22.0
pandas==0.25.3
parsel==1.5.2
pathspec==0.7.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2019.3
queuelib==1.5.0
regex==2019.12.20
Scrapy==2.11.2
service-identity==18.1.0
six==1.13.0
toml==0.10.0
Twisted==24.7.0
typed-ast==1.4.0
w3lib==1.21.0
zope.interface==4.7.1
